<app-sidenav></app-sidenav>

<div class="container">
    <h1>Publications</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Publication Date</th>
                        <th>Content</th>
                        <th>Image</th>
                        <th>Reactions</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let publication of publications">
                        
                        <td>{{ publication.pubDate | date }}</td>
                        <td>{{ publication.content }}</td>
                        <td><img src="https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600" width="100px"></td>
                        <td>
                            <span *ngFor="let reaction of publication.reactions">{{ reaction.react }} </span>
                        </td>
                      <td>
                          <button class="btn btn-info" (click)="updatePublication(publication)">Edit</button>
                          <button class="btn btn-danger" (click)="deletePublication(publication.id)">Delete</button>
                          
                          <button (click)="toggleAddCommentForm()">Add Comment</button>
                          
                          <div *ngIf="showAddCommentForm">
                              <form #commentForm="ngForm" (ngSubmit)="addCommentToPublication(publication.id,newCommentContent)">
                                <input type="hidden" name="publicationId" [value]="showAddCommentForm" >
                                  <textarea name="content" [(ngModel)]="newCommentContent" required></textarea>
                                  <button type="submit">Add</button>
                              </form>
                          </div>
                        
                          <button class="btn btn-primary" (click)="publication.showComments = !publication.showComments">
                              {{ publication.showComments ? 'Hide Comments' : 'Show Comments' }}
                          </button>
                          <div *ngIf="publication.showComments">
                              <h3>Comments:</h3>
                              <div *ngFor="let comment of publication.comments">
                                  <p>{{ comment.content }}</p>
                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <h2>Add Publication</h2>
          <form (ngSubmit)="addPublication()" #publicationForm="ngForm">
              <div class="form-group">
                  <label for="content">Content</label>
                  <input type="text" class="form-control" id="content" required [(ngModel)]="newPublicationContent" name="content" />
              </div>
              <button type="submit" class="btn btn-success" [disabled]="!publicationForm.form.valid">Add Publication</button>
          </form>
      </div>
  </div>
  <div class="row" *ngIf="selectedPublication">
      <div class="col-md-12">
          <h2>Edit Publication</h2>
          <form (ngSubmit)="savePublication()" #editPublicationForm="ngForm">
              <div class="form-group">
                  <label for="content">Content</label>
                  <input type="text" class="form-control" id="content" required [(ngModel)]="selectedPublication.content" name="content" />
              </div>
              <button type="submit" class="btn btn-success" [disabled]="!editPublicationForm.form.valid">Save Publication</button>
          </form>
      </div>
  </div>
</div>
